<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="">
      </div>
      Training
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a routerLink="course">
        <i class="ti-arrow-top-right"></i>
        <p>Courses</p>
      </a>
    </li>

    <li>
      <a routerLink="subject">
        <i class="ti-arrow-top-right"></i>
        <p>Subjects</p>
      </a>
    </li>
    <li>
      <a routerLink="topic">
        <i class="ti-arrow-top-right"></i>
        <p>Topics</p>
      </a>
    </li>
    <li>
      <a routerLink="playlist">
        <i class="ti-arrow-top-right"></i>
        <p>Playlists</p>
      </a>
    </li>
    <li>
      <a routerLink="program">
        <i class="ti-arrow-top-right"></i>
        <p>Programs</p>
      </a>
    </li>
    <li>
      <a routerLink="site">
        <i class="ti-arrow-top-right"></i>
        <p>Sites</p>
      </a>
    </li>
    <li>
      <a routerLink="document">
        <i class="ti-arrow-top-right"></i>
        <p>Documents</p>
      </a>
    </li>
    <li>
      <a routerLink="slide">
        <i class="ti-arrow-top-right"></i>
        <p>Slides</p>
      </a>
    </li>

    <!--
    <li>
        <a routerLink="passenger-search">
            <i class="ti-user"></i>
            <p>Passengers</p>
        </a>
    </li>
-->


    <!--
        <li routerLinkActive="active">
        <a>
            <i class="ti-close"></i>
            <p>Hide Basket</p>
        </a>
        </li>
    -->

  </ul>
</div>
