<div class="card">
    <div class="header">
        <h1 class="title">Site Detail</h1>
    </div>
    <div class="content">
    
        <p *ngIf="errors">{{ errors }}</p>
    
        <form *ngIf="site">
                
            <div class="form-group">
                <label>Topic:</label>
                <select name="topicId" [(ngModel)]="site.topic.id" class="form-control">
                    <option [value]="topic.id" *ngFor="let topic of topics">
                        {{topic.name}}
                    </option> 
                </select>    
            </div>
                
            <div class="form-group">
                <label>Name:</label>
                <input [(ngModel)]="site.name" name="name" class="form-control">
            </div>
                
            <div class="form-group">
                <label>Description:</label>
                <input [(ngModel)]="site.description" name="description" class="form-control">
            </div>

            <div class="form-group">
                <label>Url:</label>
                <input [(ngModel)]="site.url" name="url" class="form-control">
            </div>
            <div class="form-group">
                <button *ngIf="flag"
                (click)="create()"
                class="btn btn-default"> Create </button>
                <button *ngIf = "!flag"
                (click)="save()"
                class="btn btn-default"> Save </button>
            </div>
        

        </form>
    
    </div>
</div>