<div class="card">
    
      <div class="header">
        <h2 class="title">Subject</h2>
      </div>
      <div class="content">
    
        <form #f="ngForm">

          <div class="form-group">
            <label>Name:</label>
            <input [(ngModel)]="filter.name" name="name" class="form-control">
          </div>

          <div class="form-group">
            <button (click)="search()" [disabled]="!f?.valid" class="btn btn-default">
              Search
            </button>
            <a [routerLink]="['../subject','new']" class="btn btn-default">
                New
            </a>
  
          </div>
          
        </form>
    
      </div>
    </div>
    
    <div class="card" *ngIf="subjectList.length > 0">
    
      <table class="table table-contensed" >
        <thead>
        <tr>            
            <th>S.No</th>            
            <th>Name</th>            
            <th>Description</th>
        </tr>
        </thead>
        <tr *ngFor="let item of subjectList; let i = index;" [class.active]="item === selectedSubject">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
                
                <a [routerLink]="['../subject', item.id ]">Details</a>
            </td>
        </tr>
      </table>
    
    </div>

    <div class="card" *ngIf="subjectList.length <=0 ">
      <p>No Records Found...</p>
    </div>
